a, a:hover, a:focus {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cropped {
  width:  120px;
  height: 120px;
}

.cover-cropped {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.contain-cropped {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
 }
.recipe-full-info-card {
  width: 70%;
  margin: 0 auto;
}
.recipe-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  justify-content: center;
}

.recipe-box {
  width: 270px;
  border-radius: 7px;
  margin: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
}
.recipe-box:hover {
  transform: scale(1.009);
}

.recipe-tag {
  display: inline-block;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.recipe-thumbnail {
  max-width: 250px;
}

.recipe-info-image {
  width: 325px;
}

.text-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.toggle-fav-icon {
  cursor: pointer;
  position: absolute;
  color: white;
  margin: 3px;
}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
  z-index: 50;
}
.header * {
  margin: 0;
}
